# ignore .env file
.env

# ignore node_modules and yarn.lock
node_modules/
yarn.lock

# ignore IDE files
.idea/
.vscode/

# ignore build artifacts
build/
dist/

# ignore Docker stuff
docker-compose.yml
docker/
.Dockerfile

# ignore macOS and Linux stuff
.DS_Store
Thumbs.db

# ignore Python stuff
__pycache__/
*.pyc
*.pyo

# ignore other stuff
*.log
*.tmp