# Ignore everything in the .idea directory
.idea/

# Ignore everything in the .vscode directory
.vscode/

# Ignore everything in the node_modules directory
node_modules/

# Ignore everything in the venv directory
venv/

# Ignore everything in the .git directory
.git/

# Ignore everything in the .gitignore file itself
.gitignore

# Ignore everything in the .DS_Store directory
.DS_Store

# Ignore everything in the .env file
.env